<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Productos</title>
</head>
<body>
  <h1>Productos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      {{#each productos}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.nombre}}</td>
          <td>{{this.precio}}</td>
          <td>{{this.descripcion}}</td>
          <td>{{this.categoria}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
